div.photo {
    display: inline-block;
    border: 1px dashed;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    font-size: 2em;

    cursor: pointer;
}

div.tags span:not(.tag) {
    font-weight: bold;
}

.tag {
    padding: 4px;
    margin: .2em;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
}
